<script type="text/javascript">
  var accessToken = "f98d27910f1d47208e89561839f87fdc",
    baseUrl = "https://api.api.ai/v1/",
    $speechInput,
    $recBtn,
    recognition,
    messageRecording = "Recording...",
    messageCouldntHear = "I couldn't hear you, could you say that again?",
    messageInternalError = "Oh no, there has been an internal server error",
    messageSorry = "I'm sorry, I don't have the answer to that yet.";

  $(document).ready(function() {
    $speechInput = $("#speech");
    $recBtn = $("#rec");

    $speechInput.keypress(function(event) {
      if (event.which == 13) {
        event.preventDefault();
        send();
      }
    });
    $recBtn.on("click", function(event) {
      switchRecognition();
    });
    $(".debug__btn").on("click", function() {
      $(this).next().toggleClass("is-active");
      return false;
    });
  });

  function startRecognition() {
    recognition = new webkitSpeechRecognition();
    recognition.continuous = false;
        recognition.interimResults = false;

    recognition.onstart = function(event) {
      respond(messageRecording);
      updateRec();
    };
    recognition.onresult = function(event) {
      recognition.onend = null;
      
      var text = "";
        for (var i = event.resultIndex; i < event.results.length; ++i) {
          text += event.results[i][0].transcript;
        }
        setInput(text);
      stopRecognition();
    };
    recognition.onend = function() {
      respond(messageCouldntHear);
      stopRecognition();
    };
    recognition.lang = "en-US";
    recognition.start();
  }

  function stopRecognition() {
    if (recognition) {
      recognition.stop();
      recognition = null;
    }
    updateRec();
  }

  function switchRecognition() {
    if (recognition) {
      stopRecognition();
    } else {
      startRecognition();
    }
  }

  function setInput(text) {
    $speechInput.val(text);
    send();
  }

  function updateRec() {
    $recBtn.text(recognition ? "Stop" : "Speak");
  }

  function send() {
    var text = $speechInput.val();
    $.ajax({
      type: "POST",
      url: baseUrl + "query",
      contentType: "application/json; charset=utf-8",
      dataType: "json",
      headers: {
        "Authorization": "Bearer " + accessToken
      },
      data: JSON.stringify({query: text, lang: "en", sessionId: "yaydevdiner"}),

      success: function(data) {
        prepareResponse(data);
      },
      error: function() {
        respond(messageInternalError);
      }
    });
  }

  function prepareResponse(val) {
    var debugJSON = JSON.stringify(val, undefined, 2),
      spokenResponse = val.result.speech;

    respond(spokenResponse);
    debugRespond(debugJSON);
  }

  function debugRespond(val) {
    $("#response").text(val);
  }

  function respond(val) {
    if (val == "") {
      val = messageSorry;
    }

    if (val !== messageRecording) {
      var msg = new SpeechSynthesisUtterance();
      msg.voiceURI = "native";
      msg.text = val;
      msg.lang = "en-US";
      window.speechSynthesis.speak(msg);
    }

    $("#spokenResponse").addClass("is-active").find(".spoken-response__text").html(val);
  }

  var chart = AmCharts.makeChart("chartdiv", {
      "type": "xy",
      "theme": "dark",
      "marginRight": 80,
      "dataDateFormat": "YYYY-MM-DD",
      "startDuration": 1.5,
      "trendLines": [],
      "balloon": {
          "adjustBorderColor": false,
          "shadowAlpha": 0,
          "fixedPosition":true
      },
      "graphs": [{
          "balloonText": "<div style='margin:5px;'><b>[[x]]</b><br>y:<b>[[y]]</b><br>value:<b>[[value]]</b></div>",
          "bullet": "round",
          "id": "AmGraph-1",
          "lineAlpha": 0,
          "lineColor": "#b0de09",
          "fillAlphas": 0,
          "valueField": "aValue",
          "xField": "date",
          "yField": "ay"
      }, {
          "balloonText": "<div style='margin:5px;'><b>[[x]]</b><br>y:<b>[[y]]</b><br>value:<b>[[value]]</b></div>",
          "bullet": "round",
          "id": "AmGraph-2",
          "lineAlpha": 0,
          "lineColor": "#fcd202",
          "fillAlphas": 0,
          "valueField": "bValue",
          "xField": "date",
          "yField": "by"
      }],
      "valueAxes": [{
          "id": "ValueAxis-1",
          "axisAlpha": 0
      }, {
          "id": "ValueAxis-2",
          "axisAlpha": 0,
          "position": "bottom",
          "type": "date",
          "minimumDate": new Date(2014, 11, 31),
          "maximumDate": new Date(2015, 0, 13)
      }],
      "allLabels": [],
      "titles": [],
      "dataProvider": [{
          "date": "2015-01-01",
          "ay": 6.5,
          "by": 2.2,
          "aValue": 15,
          "bValue": 10
      }, {
          "date": "2015-01-02",
          "ay": 12.3,
          "by": 4.9,
          "aValue": 8,
          "bValue": 3
      }, {
          "date": "2015-01-03",
          "ay": 12.3,
          "by": 5.1,
          "aValue": 16,
          "bValue": 4
      }, {
          "date": "2015-01-04",
          "ay": 2.8,
          "by": 13.3,
          "aValue": 9,
          "bValue": 13
      }, {
          "date": "2015-01-05",
          "ay": 3.5,
          "by": 6.1,
          "aValue": 5,
          "bValue": 2
      }, {
          "date": "2015-01-06",
          "ay": 5.1,
          "by": 8.3,
          "aValue": 10,
          "bValue": 17
      }, {
          "date": "2015-01-07",
          "ay": 6.7,
          "by": 10.5,
          "aValue": 3,
          "bValue": 10
      }, {
          "date": "2015-01-08",
          "ay": 8,
          "by": 12.3,
          "aValue": 5,
          "bValue": 13
      }, {
          "date": "2015-01-09",
          "ay": 8.9,
          "by": 4.5,
          "aValue": 8,
          "bValue": 11
      }, {
          "date": "2015-01-10",
          "ay": 9.7,
          "by": 15,
          "aValue": 15,
          "bValue": 10
      }, {
          "date": "2015-01-11",
          "ay": 10.4,
          "by": 10.8,
          "aValue": 1,
          "bValue": 11
      }, {
          "date": "2015-01-12",
          "ay": 1.7,
          "by": 19,
          "aValue": 12,
          "bValue": 3
      }],

      "export": {
          "enabled": true
      },

      "chartScrollbar": {
          "offset": 15,
          "scrollbarHeight": 5
      },

      "chartCursor":{
         "pan":true,
         "cursorAlpha":0,
         "valueLineAlpha":0
      }
  });

</script>
<div class="row">
  <div id="chartdiv"></div>
  <div class="container centered">
    <div class="col-xs-12 col-md-6">
      <input id="speech" type="text">
      <button id="rec" class="btn">Speak</button>
      <div id="spokenResponse" class="spoken-response">
        <div class="spoken-response__text"></div>
      </div>  
    </div>
  </div>
</div>