/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.centered {
  position: fixed;
  top: 50%;
  left: 35%;
  margin-top: -50px;
  margin-left: -100px;
}

input {
  background-color: #fbfbfb;
  border: 1px solid #0a0a0a;
  color: #0a0a0a;
  font-size: 20px;
  height: 43px;
  width: 400px;
  -webkit-transition: all 0.35s ease-in;
}
input:active, input:focus, textarea:active, textarea:focus {
  outline: 1px solid #06adec;
}
.btn {
  background-color: #fbfbfb;
  color: #0a0a0a;
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  height: 43px;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: all 0.35s ease-in;
}
.btn:hover {
  background-color: #06adec;
  color: #0a0a0a;
}

.debug {
  bottom: 0;
  position: fixed;
  right: 0;
}
.debug__content {
  font-size: 14px;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: all 0.35s ease-in;
}
.debug__content.is-active {
  display: block;
  max-height: 500px;
}
.debug__btn {
  width: 100%;
}
.spoken-response {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: all 0.35s ease-in;
}
.spoken-response.is-active {
  max-height: 400px;
  max-width: 400px;
}
.spoken-response__text {
  background-color: #fbfbfb;
  color: #0a0a0a;
  padding: 1em;
}

#chartdiv {
  width: 100%;
  height: 500px;
}